name: Draft Release

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed

permissions:
  contents: write

jobs:
  create_release:
    # Only run this when a release branch was merged into the dev branch
    # if: github.event.pull_request.merged == 'true' && startsWith(github.event.pull_request.head.ref, 'release/') && github.event.pull_request.base.ref == 'dev'
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "MERGED: ${{ github.event.pull_request.merged }}"
          echo "MERGED: ${{ github.event.pull_request.head.ref }}"
          echo "MERGED: ${{ github.event.pull_request.base.ref }}"
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Store package version into ENV
        run: echo "VERSION=v$(pnpm pkg get version | tr -d '\"')" >> $GITHUB_ENV
      - name: Create Release Draft
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          name: Release ${{ env.VERSION }}
          artifacts: release/*.tgz
          body: Draft, please replace
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}
      